@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* Sidebar er main blue color */
  --color-primary: #3B5998;
  /* Message bubble ebong Send button er vibrant blue */
  --color-secondary: #2A7BFF;
  /* Message request badge er red color */
  --color-accent: #E74C3C;
  /* Neutral area (Carbon Black touch for text or icons) */
  --color-neutral: #121212;
  /* Background (Pure White) */
  --color-base-100: #FFFFFF;
}